<h3><i class="fas fa-book-reader"></i> storybooks</h3>
<div class="section">
  <p class="lead">Create Public and Private Stories From Your Life</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/github" class="btn grey darken-1">
    <i class="fab fa-github left"> Login With Github</i>
  </a>

</div>